<div class="footer-info">
	<div class="row">
		<div class="footer-col-left col-sm-6 col-12">
		</div>
		
		<div class="footer-col-right col-sm-6 col-12 footer-powered">
			
			{% if footer_address %}
			{% if copyright %}<br>{% endif %}
			{{ footer_address }}
			{% endif %}
			<script type="text/javascript"> //<![CDATA[
				var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
				document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
			  //]]></script>
			  <script language="JavaScript" type="text/javascript">
				TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_lg_222x54.png", "POSDV", "none");
			  </script>
		</div>
	</div>
</div>