<div class="blog-container">
        <article class="blog-content mb-3">
            <div class="blog-info">
                <h1 itemprop="headline" class="blog-header">Company Profile</h1>
            </div>
            <p class="lead">
                <br>
                Shouki Electronics LLC is a network and communication equipment distributor based in Dubai, UAE. We offer wide range of routers, switches, voice gateways, IP Phones, IP PBX, port adapters, IP Conference equipment, Cisco network modules, Wan Interface Cards, cables and accessories.
<br><br>
We aim to provide our customers with seamless sales and support. Shouki believes in strategic business relationship with customers and business partners to produce mutual benefits. We value this relationship and invest in their long-term development. We aspire to be the best in everything we do, always striving to be the first choice for our customers and business partners. At Shouki, we promote an environment of personal accountability that delivers consistent result against commitments.
<br><br>
<b>Note: We are only selling approved products by Telecommunications Regulatory Authority (TRA) of UAE.</b>
<br><br>
Shouki Electronics has an outstanding sales group and a professional technical team in Dubai - UAE to ensure best support and pre-sales, after-sales service and fast delivery of your Products<br>
<br>
<i class="fa fa-circle" style="font-size: 0.9rem; color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Competitive Wholesale/Retail Price
<br><i class="fa fa-circle" style="font-size: 0.9rem;color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Huge Inventory in Stock
<br><i class="fa fa-circle" style="font-size: 0.9rem;color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Genuine Products
<br><i class="fa fa-circle" style="font-size: 0.9rem;color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Free Cisco Consultant
<br><i class="fa fa-circle" style="font-size: 0.9rem;color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Flexible Payment Methods
<br><i class="fa fa-circle" style="font-size: 0.9rem;color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Express & Trackable Worldwide Shipping
<br><i class="fa fa-circle" style="font-size: 0.9rem;color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Sales Management & Services
<br><i class="fa fa-circle" style="font-size: 0.9rem;color: #3d70b2; text-align: justify; text-justify: inter-word;"></i>&nbsp;Won 2490+ customers from over 28 countries
            </p>        
        </article>    
    </div>