<div id="the-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#the-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#the-carousel" data-slide-to="1"></li>
            <li data-target="#the-carousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="active item carousel-item">
                <img class="d-block w-100" src="/files/slide1.png" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Buy Genuine CISCO products In Dubai</h4>
                    <p></p>
                </div>
            </div>
            <div class="item carousel-item">
                <img class="d-block w-100" src="/files/last2.png" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Unified Communication System</h4>
                    <p></p>
                </div>
            </div>
            <div class="item carousel-item">
                <img class="d-block w-100" src="/files/last3.png" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>ZYCOO New System Version3</h4>
                    <!-- <h4 style="margin-bottom: 15.5rem; margin-left: 10rem;">ZYCOO New System Version3</h4>
                    <p>
                        <i class="fa fa-circle" style="font-size:14px;color:#ffffff"></i>  Zero-Touch Installation for SIP Terminals
                        <br><i class="fa fa-circle" style="font-size:14px;color:#ffffff"></i>  Innovative User Extention Web Soft Dialer
                        <br><i class="fa fa-circle" style="font-size:14px;color:#ffffff"></i>  Intutive GUI that simple to Use
                        <br><i class="fa fa-circle" style="font-size:14px;color:#ffffff"></i>  Save lots of time and efforts
                        </div>
                    </p> -->
                </div>
            </div>
        </div>
    
        <a class="carousel-control-prev" href="#the-carousel" data-slide="prev" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{{ _('Previous') }}</span>
        </a>
        <a class="carousel-control-next" href="#the-carousel" data-slide="next" role="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{{ _('Next') }}</span>
        </a>
</div>
<br>
<h1>Shouki Electronics LLC</h1>
<div class="blog-container">
    <article class="blog-content mb-3">
        <div class="blog-info">
            
        </div>
        <p class="lead">
                Shouki Electronics Over the decade have emerged as one of the finest certified distributors of Cisco, Zycoo and Mocet. Being competitive in the technology arena gives us the opportunity to deliver above and beyond the expectation of the buyers. We are one stop for all networking solutions from the leading brands for incomparable prices. <br> <br>
                Shouki believes in strategic business relationship with customers and business partners to produce mutual benefits. We value this relationship and invest in their long-term development. We aspire to be the best in everything we do, always striving to be the first choice for our customers and business partners. At Shouki, we promote an environment of personal accountability that delivers consistent result against commitments.
        </p>        
    </article>    
</div>
<div class="container" id="cardshk">
    <div class="row">
        <div class="col-md-12">
            <h1>WHY US</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="files/credit.png"></img>
            <br><br>
            <h6>Reputation</h6>
            <p>
                    Shouki have an outstanding sales group and professional technical team in Dubai ensuring best support pre-sales and after-sales service, with guaranteed prompt delivery.
            </p>
            <a class="btn btn-warning btn-sm" href="/reputation">Read More</a><br><br>
        </div>
        <div class="col-md-3">
            <img src="files/company.png"></img>
            <br><br>
            <h6>Customer Base</h6>
            <p>
                    Shouki currently is serving 2490+ customers from over 35 countries. UAE, Kuwait, India, Iraq, Pakistan, Afghanistan, Nigeria ,Azerbaijan ,Ethiopia , Kenya being the consistent market.
            </p>
            <a class="btn btn-warning btn-sm" href="/customer-base">Read More</a><br><br>
        </div>
        <div class="col-md-3">
            <img src="files/support.png"></img>
            <br><br>
            <h6>Support 24</h6>
            <p>
                    We provide Active and expert customer/ Technical services to support our customers on all working days. We endeavor to give you the right solution and support.
            </p>
            <a class="btn btn-warning btn-sm" href="/support">Read More</a><br><br>
        </div>
        <div class="col-md-3">
            <img src="files/terms_and_condition.png"></img>    
            <br><br>
            <h6>Warranty and Services</h6>
            <p>
                    All the cisco products have 1-year Supplier warranty. With the Zycoo Products have 3-year manufacturer Guarantee and technical support and configuration assistance.
            </p>
            <a class="btn btn-warning btn-sm" href="/warranty-services">Read More</a><br><br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="files/transfer.png"></img>    
            <br><br>
            <h6>SHIPPING AND TRANSFER</h6>
            <p>
                    All item in stock is dispatched within 2-7 Working days within U.A.E. International delivery time will be notified through email.

            </p>
            <a class="btn btn-warning btn-sm" href="/transfer-and-shipping">Read More</a><br><br>
        </div>
        <div class="col-md-3">
            <img src="files/refund.png"></img>
            <br><br>
            <h6>Return Policy</h6>
            <p>
                    We accept return in the event of wrong item delivered or manufacturing defect brought to our notice within 3 days of delivery.
            </p>
            <a class="btn btn-warning btn-sm" href="/return-policy">Read More</a><br><br>
        </div>
        <div class="col-md-3">
            <img src="files/refund.png"></img>
            <br><br>
            <h6>REFUND AND CANCELLATION</h6>
            <p>
                    For item not opened and seal in box up to 48 hours after delivery you can return items and we issue credit note after 15 days.
            </p>
            <a class="btn btn-warning btn-sm" href="/refund-and-cancellation">Read More</a><br><br>
        </div>
        <div class="col-md-3">
            <img src="files/payment.png"></img>
            <br><br>
            <h6>Payment Modes</h6>
            <p>
                    Credit card Visa, Master Card, Debit card, Pay-pal, Cash on Delivery (Selected items)
            </p>
            <br><br><br>
        </div>
    </div>
</div>
<div class="container" id="item_groups_top">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1>OUR TOP OFFERINGS</h1>
                <br>
            </div>
        </div>
        <div class="row">
            {% for e in itm_grps %}
            <div class="col-md-4">
                <img src="{{e.image}}"></img>
                <br><br>
                <a class="btn btn-warning btn-sm" href="/{{e.route}}">{{ e.name }}</a><br><br>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="container" id="scrollBrands">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align:center">ASSOCIATED WITH<br></h2>
            <marquee>
                <img src="files/10_250x250.png"></img>&nbsp;&nbsp;
                <img src="files/7_250x250.png"></img>&nbsp;&nbsp;
                <img src="files/6_250x250.png"></img>&nbsp;&nbsp;
                <img src="files/5_250x250.png"></img>&nbsp;&nbsp;
                <img src="files/4_250x250.png"></img>&nbsp;&nbsp;
                <img src="files/2_250x250.png"></img>&nbsp;&nbsp;
                <img src="files/1_250x250.png"></img>&nbsp;&nbsp;
            </marquee>
        </div>
    </div>
</div>
<script>
    frappe.ready(function () {
        $('.carousel').carousel({
            interval: 5000
        })
    });
</script>